<div class="wrap-body">

		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<!-----------------content-box-1-------------------->
				<section class="content-box boxstyle-1 box-1">
					<div class="zerogrid">
						<div class="row wrap-box"><!--Start Box-->
							<div class="col-1-2">
								<div class="wrap-col">
									<center>
										<img src="images/kid.png">
									</center>
								</div>
							</div>
							<div class="col-1-2">
								<div class="wrap-col">
									<div class="row">
										<div class="t-center" style="padding-top: 60px;">
											<div class="header">
												<div class="wrapper">
													<h1>Welcome to <span class="color-red">zBabyCare</span></h1>
												</div>
											</div>
											<p>BECIEGAST NVERITI VITAESAERT ASETY KERTYA ASET APLICA BOSERDE NERAFAE KERTYURAUAS VITAESA ERTYASNEMO FASERANI PTAIADES FERTASERD KERTYASER DAESRAEDS. CASROLERN ATUR AUT ODITAUT. ONSEQUUNTUR MAGNI DOLORES EO QUI RATIONE VOLUPTATEMSEQUI NESCIUNT, NEQPORRO QUISQUAM ESTQUI DOLOREM QUIA DOLOR. BASASAERT, AMET, CONSECTETUR, ADIPISCI VELIT, SED QUIA NON NUMQUAM EIUS MODI TEMPORA.</p>
											<a href="#" class="button" >More Details</a>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</section>
				<!-----------------content-box-2-------------------->
				<section class="content-box boxstyle-2 box-2">
					<div class="zerogrid">
						<div class="row wrap-box"><!--Start Box-->
							<div class="header">
								<div class="wrapper">
									<h2 class="color-blue">Our Team</h2>
								</div>
							</div>	
							<div class="row">
								<div class="col-1-2">
									<div class="row post">
										<div class="col-1-4">
											<div class="wrap-col wrapper">
												<a href="#"><img src="images/ava-4.jpg"></a>
											</div>
										</div>
										<div class="col-3-4">
											<div class="wrap-col">
												<h3>joe dassin</h3>
												<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix.Et vel quod legimus, graeci electram ocurreret at his.</p>
											</div>
										</div>
									</div>
									<div class="row post">
										<div class="col-1-4">
											<div class="wrap-col wrapper">
												<a href="#"><img src="images/ava-6.jpg"></a>
											</div>
										</div>
										<div class="col-3-4">
											<div class="wrap-col">
												<h3>joe dassin</h3>
												<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix.Et vel quod legimus, graeci electram ocurreret at his.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-1-2">
									<div class="row post">
										<div class="col-1-4 right">
											<div class="wrap-col wrapper">
												<a href="#"><img src="images/ava-7.jpg"></a>
											</div>
										</div>
										<div class="col-3-4">
											<div class="wrap-col">
												<h3>joe dassin</h3>
												<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix.Et vel quod legimus, graeci electram ocurreret at his.</p>
											</div>
										</div>
									</div>
									<div class="row post">
										<div class="col-1-4 right">
											<div class="wrap-col wrapper">
												<a href="#"><img src="images/ava-8.jpg"></a>
											</div>
										</div>
										<div class="col-3-4">
											<div class="wrap-col">
												<h3>joe dassin</h3>
												<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix.Et vel quod legimus, graeci electram ocurreret at his.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-----------------content-box-3-------------------->
				<section class="content-box boxstyle-1 box-3">
					<div class="zerogrid">
						<div class="row wrap-box"><!--Start Box-->
							<div class="header">
								<div class="wrapper">
									<h2 class="color-yellow">Text Heading</h2>
								</div>
							</div>	
							<div class="row">
								<div class="col-1-4">
									<div class="wrap-col post">
										<a class="example-image-link" href="images/kids1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/kids1-thumb.jpg" alt=""/></a>
										<h3>Programs</h3>
										<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
										<a class="button" href="#">Learn More</a>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col post">
										<a class="example-image-link" href="images/kids2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/kids2-thumb.jpg" alt=""/></a>
										<h3>Special Care</h3>
										<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
										<a class="button" href="#">Learn More</a>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col post">
										<a class="example-image-link" href="images/kids3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/kids3-thumb.jpg" alt=""/></a>
										<h3>Small Groups</h3>
										<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. Et vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
										<a class="button" href="#">Learn More</a>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col post">
										<a class="example-image-link" href="images/kids4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/kids4-thumb.jpg" alt=""/></a>
										<h3>Communication</h3>
										<p>His primis omittam intellegat cu, voluptua appetere mea ad, eu harum oporteat vix. Vel quod legimus, graeci electram ocurreret at his. Vix at tation facete impetus omnesque ius harum antiopam.</p>
										<a class="button" href="#">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-----------------content-box-4-------------------->
				<section class="content-box boxstyle-2 box-4">
					<div class="zerogrid">
						<div class="row wrap-box"><!--Start Box-->
							<div class="header">
								<div class="wrapper">
									<h2 class="color-green">Text Heading</h2>
								</div>
							</div>
							<div class="post">
								<div class="col-1-2">
									<img src="images/kids2.jpg"/>
								</div>
								<div class="col-1-2">
									<div class="wrapper">
										<h3>The title on the article</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus.</p>
										<a class="button" href="#">Read More</a>
									</div>	
								</div>
							</div>
							<div class="post">
								<div class="col-1-2 f-right">
									<img src="images/kids4.jpg" />
								</div>
								<div class="col-1-2">
									<div class="wrapper">
										<h3>The title on the article</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus.</p>
										<a class="button" href="#">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-----------------content-box-5-------------------->
				<section class="content-box boxstyle-1 box-5">
					<div class="zerogrid">
						<div class="row wrap-box"><!--Start Box-->
							<div class="col-2-3">
								<div class="row post">
									<div class="col-1-2">
										<div class="wrap-col">
											<div class=""> 
												<a href="#"><img src="images/kids3.jpg" /></a>
											</div>
										</div>
									</div>
									<div class="col-1-2">
										<div class="wrap-col">
											<h3><a href="#">Lorem ipsum dolor sit amet, cum</a></h3>
											<div class="info">By <a href="#">Danny</a> on April 14, 2015</div>
											<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque quod maxime placeat 
											facere possimus nihil impedit quo minus id quod maxime placeat facere possimus.</p>
										</div>
									</div>
								</div>
								<div class="row extra">
									<div class="col-1-3">
										<div class="col-ful">
											<div class="wrap-col">
												<a href="#"><img src="images/1.jpg" /></a>
												<h4><a href="#">Lorem ipsum dolor sit amet, cum</a></h4>
											</div>
										</div>
									</div>
									<div class="col-1-3">
										<div class="col-ful">
											<div class="wrap-col">
												<a href="#"><img src="images/2.jpg" /></a>
												<h4><a href="#">Lorem ipsum dolor sit amet, cum</a></h4>
											</div>
										</div>
									</div>
									<div class="col-1-3">
										<div class="col-ful">
											<div class="wrap-col">
												<a href="#"><img src="images/3.jpg" /></a>
												<h4><a href="#">Lorem ipsum dolor sit amet, cum</a></h4>
											</div>
										</div>
									</div>
								</div>	
							</div>
							<div class="col-1-3">
								<div class="r-slidebar">
									<div class="wrap-col">
										<div class="post">
											<h5 class="color-red">FULL-TIME CARE</h5>
											<p>Nastsea labore et dolore magames niausy aliquam quaerat voluptatem.</p>
										</div>
										<div class="post">
											<h5 class="color-blue">FEES & HOURS</h5>
											<p>Nastsea labore et dolore magames niausy aliquam quaerat voluptatem.</p>
										</div>
										<div class="post">
											<h5 class="color-yellow">ENROLLING YOUR CHILD</h5>
											<p>Nastsea labore et dolore magames niausy aliquam quaerat voluptatem.</p>
										</div>
										<div class="post">
											<h5 class="color-green">INFO FOR PARENTS</h5>
											<p>Nastsea labore et dolore magames niausy aliquam quaerat voluptatem.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				
			</div>
		</section>
		<hr class="line">
		<!--////////////////////////////////////Footer-->
		

</div>
