	<!-- about -->
	<!-- about -->

			<!-- //about-bottom -->
			<!-- about-bottom-grid -->
			<div class="wthree-about-bot-grid-sec">
				<div class="agileits-about-pos">
					<h2 style="color:black;">Need Doctor?</h2>
				</div>
				<div class="col-md-6 col-sm-6 w3ls-abg w3ls-abg1 abg1">
					<h4>Safe,secure and convenient</h4>
					<p style="color:black;">We provide safe ,secure and convenient ways to find good advice from specialized doctor and medicine descriptions.</p>
				</div>
				<div class="col-md-6 col-sm-6 w3ls-abg w3ls-abg2 abg4">
					<h4>Here you can find the best advice.</h4>
					<p>We provide 24/7 online specialized doctor consultancy.</p>
				</div>
				<div class="col-md-6  col-sm-6 w3ls-abg w3ls-abg1 abg2">
					<h4>Online Medicine directory.</h4>
					<p style="color:black;">We provide online medicine directory with descriptions.</p>
				</div>
				<div class="col-md-6 col-sm-6 w3ls-abg w3ls-abg2 abg3">
					<h4>Face to face video call</h4>
					<p style="color:black;">Here you can consult and meet your doctor via video call.</p>
				</div>
				
				<div class="clearfix"> </div>
			</div>
			<!-- //about-bottom-grid-->
	</div>
	<!-- //about -->
	<!-- //about -->
	
	<!-- testimonials -->
<div class="testimonials w3ls-section" id="testimonials">
	<div class="container"> 
		<h3 class="h3-w3l">Specialist Doctors</h3>
		<div class="agile_testimonials_grids">
			<div class="col-md-6 col-sm-6 agile_testimonials_grid">
				<div class="agile_testimonials_grid1">
					<div class="w3_agile_testimonials_grid_right test-tooltip">
					   <p>Dr John has a very vast expeirence in his special field Cardiology.</p>
					</div>
					<div class="w3_agile_testimonials_grid">
						<div class="w3_agile_testimonials_grid_left">
							<div class="col-md-3 col-sm-3 col-xs-3 w3l-testi-img">
								<img src="assets/13.jpg" alt=" " class="img-responsive"/>
							</div>	
							<div class="col-md-9 col-sm-9 col-xs-9 w3l-testi-txt">
								<h4>Dr John</h4>
								<p>Senior Cardiologist</p>
							</div>	
							<div class="clearfix"> </div>
						</div>
					</div>
					
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 agile_testimonials_grid">
				<div class="agile_testimonials_grid1">
					<div class="w3_agile_testimonials_grid_right test-tooltip">
						 <p>Dr Alejandra is a specialist physician and have experinece of 5 years.</p>
					</div>
					<div class="w3_agile_testimonials_grid">
						<div class="w3_agile_testimonials_grid_left">
							<div class="col-md-3 col-sm-3 col-xs-3 w3l-testi-img">
								<img src="assets/10.jpg" alt=" " class="img-responsive"/>
							</div>	
							<div class="col-md-9 col-sm-9 col-xs-9 w3l-testi-txt">
								<h4>Dr Alejandra</h4>
								<p>Senior physician</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 agile_testimonials_grid">
				<div class="agile_testimonials_grid1">
					<div class="w3_agile_testimonials_grid_right test-tooltip">
					   <p>He is one of the best in the country and has a experience of 20 years.</p>
					</div>
					<div class="w3_agile_testimonials_grid">
						<div class="w3_agile_testimonials_grid_left">
							<div class="col-md-3 col-sm-3 col-xs-3 w3l-testi-img">
								<img src="assets/11.jpg" alt=" " class="img-responsive"/>
							</div>	
							<div class="col-md-9 col-sm-9 col-xs-9 w3l-testi-txt">
								<h4>Dr Charles</h4>
								<p>Senior Gastroenterologist</p>
							</div>	
							<div class="clearfix"> </div>
						</div>
					</div>					
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 agile_testimonials_grid">
				<div class="agile_testimonials_grid1">
					<div class="w3_agile_testimonials_grid_right test-tooltip">
					   <p>She is one of the most profolic young doctors available in the country.</p>
					</div>
					<div class="w3_agile_testimonials_grid">
						<div class="w3_agile_testimonials_grid_left">
							<div class="col-md-3 col-sm-3 col-xs-3 w3l-testi-img">
								<img src="assets/12.jpg" alt=" " class="img-responsive" />
							</div>
							<div class="col-md-9 col-sm-9 col-xs-9 w3l-testi-txt">
								<h4>Jessie</h4>
								<p>Physician</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //testimonials -->
