<div class="login_form">
  <div class="col-sm-offset-4 col-sm-4">
    <div class="form-box">
      <div class="form-top">
        <div class="form-top-left">
          <h3>Forgot your password?</h3>
          <p>We have sent you password reset instructions.</p>
        </div>
        <div class="form-top-right">
          <i class="fa fa-key"></i>
        </div>
      </div>
      <div class="authform form-bottom">
        <%= form_for(@user, :as => :user, :url => password_path(:user), :html => { :method => :post, :role => 'form'}) do |f| %>
        <%#= devise_error_messages! %>
        <div class="form-group">
          <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
        </div>
        <%= f.submit 'Reset Password', :class => 'btn' %>
        
        <div class="row">
          <div class="col-md-12">
            <div class="text-center mt10">
              
              <strong>
                <%= link_to "Or Sign up with another Email", new_registration_path(:user) %><br />
              </strong>
            </div>
          </div>
        </div>
        <%#= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
