<%= javascript_include_tag "//static.opentok.com/webrtc/v2.2/js/TB.min.js" %>
<h1>Your stream</h1>
<!-- <div id="publisher"></div> -->
<!-- <div id="audioSource"></div>
<div id="videoSource"></div> -->
<div id="hardware-setup"></div>
 <script type="text/javascript">
    var element = document.querySelector('#hardware-setup');
    var component = createOpentokHardwareSetupComponent(element, {
      insertMode: 'append'
    }, function(error) {
      if (error) {
        console.error('Error: ', error);
        document.querySelector('#hardware-setup').innerHTML = '<strong>Error getting ' +
          'devices</strong>: ' + error.message;
        return;
      }
      // var button = document.createElement('button');
      // button.onclick = component.destroy;
      // button.appendChild(document.createTextNode('Destroy'));
      // element.appendChild(button);
    });
  </script>
  
Link to your stream: <%= link_to watch_url(@stream.user.id), watch_url(@stream.user.id) %>

<%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete' %>