
<div id="otEmbedContainer" style="width:800px; height:640px"></div> <script src="https://tokbox.com/embed/embed/ot-embed.js?embedId=bb2e0441-7344-4cff-a787-5e6b4b169832&room=<%= @appointment.room%>"></script>
<div id="presription">
</div>
<% if current_user.doctor? %>
<br><br>
<%= render template: "/presriptions/new"%>
<%= render template: "/histories/new" %>
<% end%>
<div id="history">
</div>