<div class="container">
    <div class="row">
    <div class="col-md-4">
<div style="position: relative; right: 0px;">
        
        <div class="form_main">
                <h4 class="heading"><strong>Edit </strong> History<span></span></h4>
                <div class="form">
                <!-- <form action="contact_send_mail.php" method="post" id="contactFrm" 
                name="contactFrm"> -->
					<%= render '/histories/form', history: @history %>
                    
                <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
</div></div>