
<div class="w3ls-section contact">
		<div class="container"> 
			<div class="w3ls-title">
				<h2 class="h3-w3l">About Us</h2> 
			</div> 
			
						<h4></h4>
						<p align="justify">This project provides online services of doctor to the patients. Project contains     online advice, prescriptions by the doctor through live video calling and live chat. Project contains private chatroom with the personal doctor for subscribed users only. Online directory of pharmaceuticals.The basic idea of this project is to provide people with best, affordable and timesaving medical advices and prescriptions by the best doctors in town without going anywhere and spending any traveling expenses.There are pharmaceuticals inventory websites working but there is not any online doctor consultant system working in Pakistan.The world now a days is a global village and internet has emerged as one of the most used and needful things in the world. Due to fast pace of life one has no time to deal with his/her medical issues by going to the hospital. The main objective of project is to provide timesaving services. One can get doctor’s advice anywhere anytime.There are web applications available for online directory of pharmaceuticals and symptoms of disease and its cure but there is not any web app capable of providing online services of doctors to patients with audio, video or live chat. This system is complete patient doctor interaction (audio, video, live chat) at remote location so that patient can be cure inexpensive and cheap in area where experts are not available and for the diseases we don’t have much experts.

</p>
					</div> 
					
				
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
