<div class="container">
    <div class="row">
    <div class="col-md-4">
<div style="position: relative;">
        
        <div class="form_main">
                <h4 class="heading"><strong>Edit </strong> Prescription <span></span></h4>
                <div class="form">
                <!-- <form action="contact_send_mail.php" method="post" id="contactFrm" 
                name="contactFrm"> -->
                    <%= render "/presriptions/edit_form", presription: @presription %>
                    
                <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
</div>
</div></div>