<p><%= full_time(appointment) %></p>
<p>Duration: <%= show_duration(appointment) %></p>
<p>Doctor name: <%= doctor_name(appointment)%></p>
<%#= show_price(appointment) %>
<%#= show_location(appointment) %>