<div class="row">
  <div class="col-md-4">
  	<div class="form_main">
    <h4 class="heading"><strong>New </strong> Appointment <span></span></h4>
    <div class="form">
    <%= render partial: 'form', locals: { appointment: @appointment, client: @client, location: @location } %>
	</div>
	</div>
  </div>  
  <div class="col-md-8">
    <%= add_weekly_calendar(@appointments) %>
  </div>
</div>

