<!--footer-->
<div class="agile-footer w3ls-section">
    <div class="container">
        <div class="col-md-7 list-footer">
          <ul class="footer-nav">
                <li><a  href="/">Home</a></li>
                <li><a  href="/about">About</a></li>
                
                <li><a href="/contact">Contact Us</a></li>
          </ul>
          <p>Vivamus sed porttitor felis. Pellentesque habitant morbi tristique senectus et netus et ctetur adipiscing elit. Cras rutrum iaculis</p>
        </div>
        <div class="clearfix"></div>
     </div>
</div>   
<div class="w3_agile-copyright text-center">
        <p>© 2017 Online Doctor. All rights reserved.</p>
    </div>
<!--//footer--> 

   