<!--footer-->
<div class="agile-footer w3ls-section">
    <div class="container">
        <div class="col-md-7 list-footer">
          <ul class="footer-nav">
               <li><a href="/" class="active">Home</a></li>
            <li><a href="/about" class="scroll">About</a></li>    
            <li><a href="/faq" class="scroll">FAQ</a></li>
            <li><a href="/contact" class="scroll">Contact Us</a></li>  
          </ul>
          <p align="justify">Online Doctor is revolutionizing the healthcare industry by offering access to convenient, on-demand and secure web-based healthcare. It combines proven telemedicine technologies with business model innovations to improve access to medical providers, reduce healthcare costs, and make the experience of seeing a healthcare provider convenient, enjoyable, and affordable – the way it should be!</p>
        </div>
        <div class="clearfix"></div>
     </div>
</div>   
<div class="w3_agile-copyright text-center">
        <p>© 2017 Online Doctor. All rights reserved.</p>
    </div>
<!--//footer--> 

   